.newsletter {
    background-image: url(https://res.cloudinary.com/arbor1221/image/upload/v1498121383/Travel_Lifestyle_Recreation_n4aq8s.jpg);
    padding: 100px;
    text-align: center;
    object-fit: cover;
  }