.about{
    margin-top: 20px;
}
.about-card{
    border: 5px solid lightgray;
    border-radius: 10px;
    margin-right: 5px;
    width: auto;
    padding: auto;
    margin:20px;
    transition: .5s;
}
.banner-about{
    width: 100%;
    height: 300px;
}
.about-img{
    width: 400px;
    height: 300px;
    text-align: center;
    justify-content: center;
    margin: auto;
}
.about-text{
    color:black;
    
    padding-bottom: 15px;
}
.text-trip{
    color: black;
}
.about-card:hover{
    box-shadow: 10px 10px 10px  lightgray;
}
@media only screen and (max-width: 426px) {
   .about-card{
    border: 3px solid lightgray;
    border-radius: 5px;
    width: auto;
    padding: auto;
    margin:10px;
    transition: .5s;
   }
   .about-card:hover{
    box-shadow: 10px 10px 10px  lightgray;
}
  }